.gallery {
  width: 1200px;
  margin: 0 auto;
  box-shadow: ;
}

h1 {
  letter-spacing: 0.5rem;
  text-shadow: 2px 2px lightgray;
}

.info {
  font-size: 1.4rem;
  color: orange;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-top: -60px;
  margin-bottom: 30px;
  text-shadow: 1px 2px black;
}

figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  border: 3px solid green;
}

figure img {
  margin: 12px;
  border-radius: 7px;
}

.gallery-home {
  display: flex;
  vertical-align: flex-end;
  justify-content: center;
}

.gallery-home a {
  font-family: Bokor;
  text-decoration: none;
}

.gallery-home a:hover {
  color: skyblue;
  text-decoration: underline;
}

figcaption {
  letter-spacing: 0.1rem;
  text-align: center;
}
